service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
　　　　allow read;
       allow write: if request.auth.uid !=null; < timestamp.date(2023, 1, 21);
    }
  }
}
